/*@import "_mixins/list-group.less";*/
.game-container {
  width: 600px;
  height: 600px;
  border: 1px solid #ccc;
  position: relative;
  margin: 20px;
}
.game-container:before,
.game-container:after {
  content: " ";
  display: table;
}
.game-container:after {
  clear: both;
}
.game-container div {
  border: 1px solid #ccc;
  position: absolute;
  cursor: pointer;
  background: #c79d7d;
  background-repeat: no-repeat;
}
.game-container div:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  /*background-image: linear-gradient(to right, #c79d7d 19px, transparent 0),
                                linear-gradient(to right, #ccc 21px, transparent 0),
                                linear-gradient(to top, #c79d7d 19px, transparent 0),
                                linear-gradient(to top, #ccc 21px, transparent 0);*/
}
.game-container div:after {
  content: "";
  width: 70%;
  height: 70%;
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -moz-border-radius: 50%;
  /* Gecko browsers */
  -webkit-border-radius: 50%;
  /* Webkit browsers */
  border-radius: 50%;
}
.game-container div.black:after {
  background: #000;
}
.game-container div.white:after {
  background: #fff;
}
